.CloseEvent{
    border-radius: 8px;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;

.title{
    font-size: x-large;
}
a{
    background-color: rgb(133, 255, 133);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    white-space: pre-line;
}

}